:root{
    --lightgreen: rgb(176, 227, 176);
    --darkgreen: rgb(55, 103, 55);
    --lightgrey: rgb(209, 209, 209);
    --darkgrey: rgb(34, 34, 34);
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: rgb(0, 0, 0, 0.9);
    height: 70px;
    position: absolute;
    z-index: 99;
    width: 100%;
}