:root{
    --lightgreen: rgb(176, 227, 176);
    --darkgreen: rgb(55, 103, 55);
    --lightgrey: rgb(209, 209, 209);
    --darkgrey: rgb(34, 34, 34);
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* start of common styling across all pages  */

nav{
    background-color: rgb(0, 0, 0, 0.9);
    height: 70px;
    position: absolute;
    z-index: 99;
    width: 100%;
}

.logo{
    max-width: 50px;
    position: absolute;
    margin-top: 10px;
}

ul{
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
}

li{
    list-style: none;
    margin-right: 20px;
    font-size: 15px;
    padding-bottom: 5px;
}

li:nth-child(3){
    margin-right: 40px;
}

a{
    text-decoration: none;
    color: white;
    transition: color 0.1s ease;
}

a:hover{
    color: var(--darkgreen);
}

a:active{
    color: var(--lightgreen);
}

.header{
    background-image: url("../img/cacti-cover.webp");
    background-color: var(--darkgreen);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: column nowrap;
}

footer{
    background-color: var(--darkgrey);
    color: white;
    padding: 30px;
}

.copyright{
    text-align: center;
    margin-top: 20px;
}

.copyright h4{
    font-size: 0.9rem;
    font-weight: 400;
}

.footer-links{
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    justify-content: space-between;
}

.socials-footer a{
    margin: 0 15px;
    transition: filter 0.1s ease;
}

.socials-footer a:hover{
    filter: invert(0.4);
}

.links{
    display: flex;
    font-size: 0.9rem;
}

.links a{
    margin: 0 15px;
}

/* end of common styling across all pages  */

/* start of index header styling  */
.blur{
    height: 310px;
    width: 700px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    transition: height width 0.3s;
}

.main_text{
    transform: translateY(-100px);
    color: rgb(71, 71, 71);
    text-align: center;
    position: absolute;
}

.main_text h1{
    margin: 20px 0;
    font-size: 50px;
}

.main_text h2{
    margin-bottom: 20px;
    font-size: 18px;
    color: var(--darkgrey);
    text-transform: capitalize;
}

/* end of index header styling + start of socials styling */

.socials{
    position: absolute;
    right: 0;
    margin-top: 20px;
}
/* end of socials styling + start of about section */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}

.about-background{
    background-image: url("../img/full-green.avif");
    background-color: var(--darkgreen);
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    background-position: center;
    height: 500px;
    width: 100%;
    position: relative;
}

.about-over{
    position: absolute;
    width: 100%;
    height: 630px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.about-me-text p{
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 350px;
    text-align: left;
    line-height: 25px;
    color: white;
    font-size: 17px;
    padding: 20px;
    border-radius: 15px;
}

h3 .about-me-text{
    color: white;
    font-size: 45px;
}

.plant-head{
    height: 600px;
    border: 15px solid white;
    border-radius: 25px;
}

/* end of about section styling + start of plant cards */

.plants{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card-container{
    width: 180px;
    height: 250px;
    perspective: 1000px;  /* the card is positioned 1000px away from the user, gives 3D effect */
    border: 2px solid black;
    border-radius: 15px;
    margin: 35px;
}

.plant-card{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-container:hover .plant-card{
    transform: rotateY(180deg);
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back{
    height: 100%;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: rgb(106, 124, 106);
    color: white;
    text-align: center;
    transform: rotateY(180deg);
    border-radius: 15px;
}

.plant-image{
    background-color: var(--darkgreen);
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.card-back h4{
    font-size: 16px;
    margin-top: 10px;
    color: white;
}

p.plants{
    font-size: 12px;
    margin: 15px;
}

/* end of plant cards styling. overrides for second page below */
/* start of common button styling */
button{
    padding: 5px 15px;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--darkgreen);
    transition: background-color 0.1s;
}

button:hover{
    background-color: rgb(213, 213, 213);
    border-color: rgb(213, 213, 213);
}

button:active{
    border: 2px solid rgb(106, 124, 106);
}
/* end of common button styling + addition to home-page specific button*/

.buy-me{
    margin-bottom: 20px;
}
/* start of header styling in care.html */

.care{
    background-image: url("../img/plant-wall-background.avif");
    background-color: var(--lightgreen);
    height: 500px;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headings{
    text-align: center;
}
/* end of header styling + problem intro styling beginning */

.problem-intro{
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    justify-content: center;
    height: 500px;
}

#roots-problem-image{
    position: relative;
    bottom: 60px;
    height: 600px;
    border: 10px solid white;
}

h1 .problem, h2 .problem, h3 .problem{
    color: var(--darkgrey);
    margin: 5px 0;
}

h1 .problem{
    font-size: 30px;
    font-weight: 800;
    margin: 40px 0;
}

#title{
    font-size: 35px;
    font-weight: 800;
    color: var(--darkgrey);
    text-transform: capitalize;
    margin-bottom: 15px;
}

h3 .problem{
    font-size: 20px;
}

.problem-text{
    color: var(--darkgrey);
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 50px;
    margin: 0 100px;
}

#problem-span{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.problem-text p{
    line-height: 20px;
    color:var(--darkgrey);
    font-size: 1rem;
}
/* plant cards style overrides */

.common_problems{
    background-image: url("../img/long-grass-background.jpeg");
    background-color: var(--lightgreen);
    background-position: center;
    background-size: cover;
    padding: 50px 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

article{
    margin: 30px 0;
    border-radius: 15px;
    border: 2px solid white;
    height: 200px;
}

.problem-article{
    border: 5px solid transparent;
    width: 150px; /* setting explicit width so transition on width works smoothly */
    transition: width 0.4s ease, transform 0.4s ease;
}

.problem-article:hover{
    width: 450px;
}

.problem-card-container{
    display: flex;
    justify-content: center;
}

span{
    font-weight: 600;
    letter-spacing: 0.4px;
    color: var(--lightgreen);
}

.icon_container{
    width: 100%;
}

.humidity i, .poor_soil i, .low-flow i, .waterlogged i{
    position: absolute;
}

.low-flow {
    margin-left: 22px;
}

.humidity{
    margin-left: 6px;
}

i{
    transform: scale(1.2);
    margin: 0 4px;
}

.fa-solid{
    color: white;
}

.fa-percent, .fa-circle-exclamation{
    color: black;
}

.fa-percent{
    transform: scale(0.75);
}

.fa-circle-exclamation{
    transform: scale(0.85);
}

.cards-wrapper{
    height: 100%;
    border: 2px solid purple;
    display: flex;
    flex-flow: row nowrap;
}

.card{
    height: 200px;
    width: 150px;
    position: absolute;
    border-radius: 5px;
    transition: transform 0.4s ease;
    text-align: center;
}

.card-front-problem{
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
}

.card-title-heading {
    font-size: 0.9rem;
    color: white;
    text-transform: uppercase;
}

.problem-paragraph{
    font-size: 11px;
    padding: 10px;
    color: white;
}

.card-middle-problem{
    z-index: 2;
}

.card-back-problem{
    z-index: 1;
    background-color: darkolivegreen;
}

.card-front-problem, .card-back-problem{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

article:hover .card-front-problem{
    transform: translateX(-150px);
}

article:hover .card-back-problem{
    transform: translateX(150px);
}

.plant-image{
    height: 100%;
    width: 100%;
}
/* end of problem card styling */
/* start of contact page styling */

.contact-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact{
    background-image: url("../img/monstera-plant-vertical.avif");
    background-color: var(--darkgreen);
    background-size: cover;
    background-position: center;
    border-right: 5px solid black;
    height: 810px;
    width: 800px;
}

.main-heading{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid rgb(0, 0, 0);
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 2.2rem;
    top: 150px;
    left: 100px;
}

.contact-fields{
    margin-right: 200px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.physical-details{
    width: 300px;
    padding: 20px 10px;
    background-color: var(--darkgreen);
    border: 5px solid rgb(0, 41, 0);
    border-radius: 10px;
    position: absolute;
    z-index: 99;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    right: 730px;
}

.detail{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 20px;
    color: white;
}

.text h4 {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.text p{
    font-size: 0.8rem;
    color: rgb(239, 239, 239);
}

.detail i{
    margin-right: 20px;
    color: white;
}

.flag{
    width: 15px;
    height: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: 5px;
}

.stripe{
    width: 33.3%;
}

.stripe-1{
    background-color: darkgreen;
}

.stripe-2{
    background-color: white;
}

.stripe-3{
    background-color: orange;
}

.ireland{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.form-container{
    padding: 30px;
    padding-left: 100px;
    background-color: rgb(190, 213, 190);
    border: 5px solid rgb(140, 159, 140);
    border-radius: 10px;
    width: 450px;
    transition: transform 0.4s, box-shadow 0.4s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.form-container:hover{
    transform: translateX(40px) scale(1.02);
    z-index: 100;
    box-shadow: 0 8px 16px rgb(0, 0, 0, 0.9);
}

label{
    color: var(--darkgrey);
    font-size: 0.7rem;
    padding: 5px 0;
    font-weight: 600;
}

.general-inputs input, .textarea-message textarea{
    margin-bottom: 15px;
    padding: 0.5rem;
    font-size: 0.6rem;
    outline: none;
    border-radius: 3px;
    border: 2px solid transparent;
}

.general-inputs input:active, .general-inputs input:focus, 
.textarea-message textarea:active, .textarea-message textarea:focus {
    border: 2px solid var(--darkgreen);
}

.general-inputs{
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-start;
}

.name, .email{
    display: flex;
    flex-flow: column nowrap;
}

.name input{
    margin-right: 50px;
}

.textarea-message{
    display: flex;
    flex-flow: column nowrap;
}

textarea{
    outline: none;
    font-size: 0.7rem;
    padding: 5px;
    resize: vertical;
    margin-bottom: 20px;
}

.terms{
    display: flex;
    align-items: center;
}

.terms-label{
    font-size: 0.6rem;
    padding-right: 5px;
}

.terms-label a{
    color: var(--darkgrey);
}

.contact-button{
    text-align: center;
    margin-top: 30px;
    margin-right: 70px;
}